body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    background-image: url("yarn.jpeg");
    background-size: cover no-repeat;
    height: 100vh;
}

.container {
    max-width: 80%;
    margin: auto; 
    background: white;
    border: 3px solid black;
    border-radius: 10px;
}

h1 {
    margin-top: 40px;
    margin-bottom: 10px;  
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: #2C2891;
    border: 1px solid black;
}

#save-btn {
    background: #1C7947;
    border: 1px solid black;
}

#save-el {
    color: black;
    font-weight: bold;
}

